



<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unes University</title>
    <link rel="stylesheet" href="{{url_for('static',filename='./estilo.css')}}">
</head>




<body >
    <nav >
        
            <div class="logo1">
            <img src="{{url_for('static',filename='./imagens/logo.png')}}" alt="UNES" class="logo">
            </div>
            <span class="links">   
      
                <a href="/">Home</a>
          
                <a href="/quemsomos">Quem somos</a>
          
                <a href="/contato">Contato</a>
        
    </span>  
        
</nav>
</body>