{% extends "base.html" %}

{%block main%}
    <h1>Entre em Contato</h1>
    <hr>
    <form action="processar_formulario.php" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="assunto">Assunto:</label>
        <input type="text" id="assunto" name="assunto" required><br><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Enviar">
    </form>
{%endblock%}