{% extends "base.html" %}

{% block main %}
    <P>
        <h2>
            Quem somos
        </h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae harum, iusto consequatur tenetur aliquid temporibus, alias eum qui libero deserunt odit officia! Id rerum aut, blanditiis itaque facere officiis quis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo accusantium nihil sed similique magni maiores consequatur dicta ipsa incidunt, asperiores minima dolores aspernatur molestias harum debitis amet voluptates porro illum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, eum delectus exercitationem atque, dolorum incidunt pariatur molestiae nobis ipsa natus explicabo, modi id soluta impedit quia totam beatae. Tempora, et.
    </P>
    <p>
        <h2>5 motivos para estudar</h2>
    </p>
    
    <ol class="motivos">
        <li>material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Uiversidade bem avaliada</li>
        <li>Ótima localização</li>
      
    </ol>
    <hr>
    <p>
        <h2>
            Objetivos
        </h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nam placeat adipisci totam nisi dicta at enim, vero, a corrupti expedita, autem fugiat excepturi veritatis blanditiis ipsa sint! Suscipit, voluptas.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex ratione inventore officia saepe beatae corporis rem cum, ad explicabo, eaque odit soluta quia atque adipisci ab velit quae voluptate hic.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aperiam sapiente, quaerat, officiis hic quidem dicta ut perspiciatis placeat ullam ratione! Architecto illo saepe possimus consequatur illum assumenda ab 
    </p>
{% endblock %}