body{
    background-color: rgb(144, 228, 243);
    background-image: url(imagens/fundo.png);
}
h1 {
    margin-left: 550px;
}
.capa{
    margin: 20px 300px;
}
.logo{
    padding-left: 500px ;
}