/*Background da pagina*/
body{
    display: block;
    background-color: rgb(255, 255, 255);
    background-image: url(imagens/fundo.png);
    background-image: url(imagens/fundo2.png);
/* Fim do background */
}
/**Cabeçalho**/
/* Links da página home */
a {
    color:black;
    margin-top: 40px;
    margin-left: 100px;
}
div.links{
    margin-left: 500px;
    margin-top: 35px;
/* Código da div */
}
div.cabeçalho{
    display: flex;
    width: 1370px;
    border: 1px solid white;
}
.logo{
    justify-content: left;
}
/* Fim do cabeçalho */
h4{
    margin-left: 550px ;
    margin-top: 200px;
 }