/*Background da pagina*/
.bodyhome{
    max-width: 80%;
    margin: 0 auto;
  
    background-color: rgb(252, 253, 253);
    background-image: url(imagens/fundo.png);


/* Fim do background */

}
/* Parágrafos */
h1 {
    margin-left: 550px;
}
h4{
    margin-left: 600px;
    margin-top: 170px; 
}
/* Fim do paragrafo */

/**Cabeçalho**/
/* Links da página  */
a {
    color:black;
    margin-top: 40px;
    margin-left: 100px;
}
div.links{
    margin-left: 500px;
    margin-top: 35px;
/* Código da div */
}
div.cabeçalho{
    display: flex;
    width: 1370px;
    border: 1px solid white;
}
.logo{
    justify-content: left;
    
}
/* Fim do cabeçalho */

/* Imagem de capa da home */
.capa{
    margin: 10px 200px
}

/* Fim */

/*Texto da pággina quem somos  */
ol.motivos{
    list-style-type:decimal;
}

/* Fim */



